<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mhcb.syd.Wix" version="1.0.0.20" targetFramework="net461" />
  <package id="WiX" version="3.11.0" targetFramework="net461" />
  <package id="WixSharp" version="1.4.7.2" targetFramework="net461" />
  <package id="WixSharp.bin" version="1.4.7.2" targetFramework="net461" />
</packages>