
<div class="row">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#section1">DIY Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#section2">GUIDE</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#section3">eLCS</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#section4">EUC</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#section5">eDocument</a>
		</li>
		@*<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#">Under development</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Link 1</a>
					<a class="dropdown-item" href="#">Link 2</a>
					<a class="dropdown-item" href="#">Link 3</a>
				</div>
			</li>*@
	</ul>
</div>


<div class="row border" style="background-color: ghostwhite">

	<div class="col-sm-2" id="myScrollspy">
		<div id="navbar2">
			<ul class="nav flex-column nav-tabs ">
				<li class="nav-item ">
					<a class="nav-link active" data-toggle="tab" href="#section1">DIY Data</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="tab" href="#section2">GUIDE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#section3">ELCS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#section4">EUC Balance</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#section5">eDocument</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-sm-10">
		<!-- Tab panes -->
		<div class="tab-content" style="padding: 5px 5px 10px 5px;">
			<div id="section1" class="container tab-pane active" style="padding: 5px 5px 5px 5px;">
				<myh3><b>DIY Data</b></myh3>
				<div class="list-group">

					<h5>FX Transation ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXTransaction/PutFXTransaction.html"><b>Send FX Transaction To Finalised Status</b>&raquo;</a>

					<h5>FX Delivery ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXSettlementInf/PutFXDelivery.html"><b>Send FX Settlement To Finalised Status</b>&raquo;</a>

					<h5>FX Transation GID Upload...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXTransaction/PutFXTransactionExt.html"><b>Set GID Upload Again</b>&raquo;</a>

					<h5>Settlement Information (SIF)...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/SettlementInf/PutSettlementInf.html"><b>Send Settlement Information To Finalised Status</b>&raquo;</a>

					<h5>Bank Information (BIF) ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/BankInf/PutBankInf.html"><b>Send Bank Information To Finalised Status</b>&raquo;</a>

					<h5>FX Customer (excluding GBASE Customer Master)...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXFCust/PutFXFCustAttribute.html"><b>Change FX Customer Attributes</b>&raquo;</a>

					<h5>EUC Balance Event...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/MxInboundEvent/PutMxEucBalanceEvent.html"><b>Set Closing Date for Today's Call Deposit Closing Account</b> &raquo;</a>

					<h5>GUIDE Users ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/User/PutUser.html"><b>Reset GUIDE User Status for Password Change</b> &raquo;</a>

				</div>
			</div>

			<div id="section2" class="container tab-pane fade" style="padding: 5px 5px 5px 5px;">
				<myh3><b>GUIDE</b></myh3>
				<div class="list-group">

					<h5>FX Delivery Corporate ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXSettlementInf/getFXDeliveryCorporate.html">Corporate Delivery Details by Date &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/FXSettlementInf/getFXDeliveryCorporateSummary.html">Corporate Delivery Summary by Date &raquo;</a>

					<h5>Settlement Information ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/SettlementInf/GetSettlementInfByCustAbbr.html">Search SIF by Customer Abbrivation &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/SettlementInf/GetSettlementInfById.html">Search SIF by ID &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/SettlementInf/GetSettlementInfsByStatus.html">Search SIF by Status &raquo;</a>

					<h5>Bank Inf ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/BankInf/GetBankInfByCustAbbr.html">Search BIF by Customer Abbrivation &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/BankInf/GetBankInfBySwiftID.html">Search BIF by Swift ID &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/BankInf/GetBankInfByStatus.html">Search BIF by Status &raquo;</a>

					<h5>GUIDE Users ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/User/GetUserByUserId.html">Search User by User ID &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/User/GetUserByRecStatus.html">Search Users by Rec Status &raquo;</a>
				</div>
			</div>

			<div id="section3" class="container tab-pane fade" style="padding: 5px 5px 5px 5px;">
				<myh3><b>ELCS</b></myh3>
				<div class="list-group">
					<h5>Mizuho Loan Special Rate ...</h5>
					<a class="list-group-item list-group-item-action" href="~/Src/app/ELCS/PutSpecialRate.html">Upload Special Rate  &raquo;</a>
					<h5>View Loan Transaction by Facility No ...</h5>
					<a class="list-group-item list-group-item-action" href="#">Under Development &raquo;</a>
					<h5>View Loan Faciltiy by Customer Abbr ...</h5>
					<a class="list-group-item list-group-item-action" href="#">Under Development &raquo;</a>
				</div>
			</div>

			<div id="section4" class="container tab-pane fade" style="padding: 5px 5px 5px 5px;">
				<myh3><b>EUC Balance & Mx Inbound; </b></myh3>
				<div class="list-group">
					<h5>EUC Balance Event...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/MxInboundEvent/getMxEucBalanceEventByCustAbbr.html">Seach EUC balance event by Customer Abbrivation &raquo;</a>
					<a class="list-group-item list-group-item-action" href="~/src/app/MxInboundEvent/getMxEucBalanceEventByRefNo.html">Seach EUC balance event by GBASE Reference No. &raquo;</a>

					<h5>MxInbound Event Log ...</h5>
					<a class="list-group-item list-group-item-action" href="~/src/app/MxInboundEvent/getMxInboundEventLogBySender.html">Search Mx Inbound event log by Sender &raquo;</a>
				</div>
			</div>

			<div id="section5" class="container tab-pane fade" style="padding: 5px 5px 5px 5px;">
				<myh3><b>eDocument</b></myh3>
				<div class="list-group">
					<h5>eDocument ...</h5>
					<a class="list-group-item list-group-item-action" href="~/Src/app/eDocument/PutEDocument.html">Set eDocument Reprint &raquo;</a>
				</div>
			</div>
		</div>
	</div>

</div>




@*@{
		ViewBag.Title = "Home Page";
	}

	<div class="jumbotron">
		<h1>ASP.NET</h1>
		<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
		<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Getting started</h2>
			<p>
				ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
				enables a clean separation of concerns and gives you full control over markup
				for enjoyable, agile development.
			</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Get more libraries</h2>
			<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Web Hosting</h2>
			<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
		</div>
	</div>*@